@media screen and (max-width: 1400px) {
  //XXL
  .container {
    margin: 0 70px;
  }
}
@media screen and (max-width: 1200px) {
  //XL
  .container {
    margin: 0 65px;
  }
}
@media screen and (max-width: 992px) {
  //LG
  .container {
    margin: 0 55px;
  }
}
@media screen and (max-width: 768px) {
  //MD
  .container {
    margin: 0 34px;
  }
}
@media screen and (max-width: 576px) {
  //SM
  .container {
    margin: 0 24px;
  }
}


