.container1 {
  margin: 0 28px;
}

.nav__top {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__hr {
  margin-bottom: 20px;
}

.nav__logo {
  color: #22202E;
  font-size: 24px;
  font-weight: 400;
  cursor: pointer;
}

.nav__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  cursor: pointer;
}

.nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 44px;
}

.nav__item {
  color: #726E8D;
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.nav__icons2 {
  display: none;
}

.nav__search {
  cursor: progress;
}

@media screen and (max-width: 1400px) {
  .container1 {
    margin: 0 28px;
  }
}

@media screen and (max-width: 1200px) {
  .container1 {
    margin: 0 26px;
  }
}

@media screen and (max-width: 992px) {
  .container1 {
    margin: 0 24px;
  }
}

@media screen and (max-width: 768px) {
  .nav__icons, .nav__search, .nav__hr, .hero {
    display: none;
  }
  .nav__icons2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    cursor: pointer;
  }
  .container1 {
    margin: 0 22px;
  }
  .nav__bottom {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .container1 {
    margin: 0 20px;
  }
}

.footer {
  background: #2a254b;
  padding-top: 58px;
  padding-bottom: 22px;
}

.footer .footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.footer .footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 150px;
}

.footer .footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 109px;
}

.footer .footer__menu1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.footer .footer__item {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.footer .footer__items {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;
}

.footer .footer__input--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer__input {
  padding: 17px 280px 17px 32px;
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.footer .footer__btn {
  cursor: pointer;
  background: #fff;
  color: #2a254b;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  padding: 16px 32px;
}

.footer .footer__hr {
  background: #4e4d93;
  height: 1px;
  margin-top: 48px;
  margin-bottom: 24px;
}

.footer .footer__bottom--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer__bootom__icons--text {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.footer .footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

.footer .footer__bootom__icons__wraper--icon {
  font-size: 24px;
}

.footer .footer__bottom--title {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

@media screen and (max-width: 1303px) {
  .footer .footer__input {
    padding: 17px 180px 17px 32px;
  }
}

@media screen and (max-width: 1200px) {
  .footer .footer__info {
    gap: 100px;
  }
  .footer .footer__menu {
    gap: 59px;
  }
  .footer .footer__input {
    padding: 17px 100px 17px 32px;
  }
}

@media screen and (max-width: 1024px) {
  .footer .footer__input {
    padding: 17px 30px 17px 32px;
  }
  .footer .footer__info {
    gap: 70px;
  }
  .footer .footer__menu {
    gap: 49px;
  }
}

@media screen and (max-width: 870px) {
  .footer .footer__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
  .footer .footer__info {
    gap: 150px;
  }
  .footer .footer__menu {
    gap: 100px;
  }
}

@media screen and (max-width: 770px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .footer .footer__info {
    gap: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer__menu {
    gap: 96px;
  }
  .footer .footer__hr {
    margin-top: 16px;
    margin-bottom: 20px;
  }
  .footer .footer__bootom__icons__wraper--icon {
    display: none;
  }
  .footer .footer__bootom__icons--text {
    margin: auto;
  }
  .footer .footer__input {
    padding: 17px 55px 17px 32px;
  }
  .footer .footer__btn {
    font-size: 11px;
  }
}

@media screen and (max-width: 450px) {
  .footer .footer__input {
    padding: 17px 30px 17px 32px;
    font-size: 11px;
  }
  .footer .footer__icons {
    display: none;
  }
  .footer .footer__bottom--wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 375px) {
  .footer .footer__input {
    padding: 17px 10px 17px 32px;
    font-size: 11px;
  }
}

.hero__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
}

.hero__card {
  width: 60vw;
  background: #2a254b;
  cursor: crosshair;
}

.hero__title {
  padding: 60px;
  width: 513px;
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  line-height: 140%;
}

.hero__text {
  margin: 196px auto 60px 60px;
  width: 602px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.hero__btn {
  margin: 41px auto 0 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 32px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
  background: rgba(249, 249, 249, 0.15);
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.hero__d {
  display: none;
  background: #2a254b;
}

.hero__box--d {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: alias;
}

.hero__title--d {
  width: 308px;
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  line-height: 140%;
  cursor: context-menu;
}

.hero__text--d {
  margin-top: 80px;
  width: 308px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  cursor: copy;
}

.hero__btn--d {
  margin-top: 32px;
  margin-bottom: 24px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border: none;
  background: rgba(249, 249, 249, 0.15);
  cursor: pointer;
}

.img {
  background-size: cover;
  height: 100%;
  width: 40vw;
  cursor: crosshair;
}

@media screen and (max-width: 1322px) {
  .hero__img {
    display: none;
  }
}

@media screen and (max-width: 1322px) {
  .hero__card {
    width: 85vw;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .hero__d {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero {
    display: none;
  }
}

.service__title {
  margin-top: 80px;
  color: #2a254b;
  font-size: 24px;
  font-weight: 400;
  line-height: 140%;
  /* 33.6px */
  text-align: center;
  cursor: context-menu;
}

.service__wrap {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 305px;
  padding: 48px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
  background: #f9f9f9;
  margin: 0 auto;
}

.service__icon {
  cursor: progress;
}

.service__text {
  width: 209px;
  color: #2a254b;
  font-family: Clash Display;
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
  /* 28px */
  cursor: help;
}

.service__info {
  width: 195px;
  color: #2a254b;
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  cursor: -webkit-grab;
  cursor: grab;
}

@media screen and (max-width: 1400px) {
  .service__box {
    margin-top: 26px;
  }
}

@media screen and (max-width: 768px) {
  .service__box {
    width: 332px;
  }
}

@media screen and (max-width: 576px) {
  .service__title {
    font-size: 20px;
    width: 254px;
    text-align: start;
  }
  .service__info {
    width: 264px;
  }
}

.card__info {
  margin-top: 166px;
  color: #2a254b;
  font-size: 32px;
  font-weight: 400;
}

.card__info2 {
  margin-top: 110px;
  color: #2a254b;
  font-size: 32px;
  font-weight: 400;
  line-height: 140%;
}

.card__wrap {
  margin-top: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__wrap2 {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  overflow: scroll;
}

.card__box {
  margin-top: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 24px;
  cursor: crosshair;
}

.card__title {
  color: #2a254b;
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
  /* 28px */
  cursor: context-menu;
}

.card__price {
  margin-top: -16px;
  color: #2a254b;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  /* 27px */
  cursor: not-allowed;
}

.card__btn {
  margin: 0 auto;
  margin-top: 48px;
  width: 170px;
  color: #2a254b;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  background: #f9f9f9;
  border: none;
  cursor: pointer;
}

.card__d {
  display: none;
}

.card__info--d {
  margin-top: 93px;
  color: #2a254b;
  font-size: 20px;
  font-weight: 400;
}

.card__wrap--d {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card__box--d {
  margin-top: 20px;
  cursor: crosshair;
}

.card__img--d {
  cursor: cell;
}

.card__title--d {
  margin-top: 24px;
  color: #2a254b;
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
  cursor: context-menu;
}

.card__price--d {
  margin-top: 8px;
  color: #2a254b;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  cursor: not-allowed;
}

.card__btn--d {
  margin: 0 auto;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 342px;
  padding: 16px 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  color: #2a254b;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  background: #f9f9f9;
  border: none;
  cursor: pointer;
}

.card--2d {
  display: none;
}

.card__info2--d {
  margin-top: 86px;
  color: #2a254b;
  font-size: 20px;
  font-weight: 400;
}

.card__wrap2--d {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-x: scroll;
  gap: 20px;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
  width: 0;
}

@media screen and (max-width: 768px) {
  .card__d {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .card--2d {
    display: inline;
  }
  .card {
    display: none;
  }
}

@media screen and (max-width: 405px) {
  .card__btn--d {
    width: 342px;
  }
}

.input {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f9f9f9;
  padding-top: 52px;
  padding-bottom: 65px;
  margin-top: 48px;
  cursor: crosshair;
}

.input__wrap {
  padding-top: 68px;
  padding-bottom: 54px;
  background: #fff;
}

.input__title {
  color: #2a254b;
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  line-height: 140%;
  cursor: context-menu;
}

.input__text {
  width: 470px;
  color: #2a254b;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin: 0 auto;
  cursor: move;
}

.input__int {
  margin-top: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: alias;
}

.input__input {
  padding: 17px 205px 17px 32px;
  background: #f9f9f9;
  color: #2a254b;
  font-size: 16px;
  font-weight: 400;
  height: 56px;
  cursor: text;
}

.input__btn {
  padding: 16px 32px;
  background: #2a254b;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  height: 56px;
  cursor: pointer;
}

@media screen and (max-width: 756px) {
  .input {
    margin-top: 38px;
    padding-top: 48px;
    padding-bottom: 36px;
    background-color: #fff;
  }
  .input__wrap {
    padding: 0;
  }
  .input__title {
    margin: 0 auto;
    font-size: 20px;
  }
  .input__text {
    margin: 0 auto;
    width: 329px;
    font-size: 13px;
  }
  .input__int {
    text-align: start;
    margin-top: 64px;
  }
  .input__input {
    font-size: 10px;
    padding: 17px 75px 17px 32px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: calc(224+118) px;
  }
  .input__btn {
    font-size: 10px;
    padding: 16px 40px;
  }
}

@media screen and (max-width: 568px) {
  .input__title {
    text-align: start;
    font-size: 20px;
  }
  .input__text {
    text-align: start;
    margin: 0;
    width: 329px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    font-size: 13px;
  }
  .input__input {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0px;
            flex: 1 0 0;
  }
}

.about__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: -4px;
}

.about__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 72px 0 54px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.about__title {
  width: 514px;
  color: #2a254b;
  font-size: 24px;
  font-weight: 400;
  line-height: 140%;
  cursor: context-menu;
}

.about__text {
  width: 536px;
  color: #505977;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  cursor: not-allowed;
}

.about__btn {
  margin-top: 196px;
  color: #2a254b;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 32px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
  background: #f9f9f9;
  border: none;
}

.about__img {
  margin-top: 48px;
}

.about__img2 {
  display: none;
}

@media screen and (max-width: 1425px) {
  .about__wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about__box {
    width: 634px;
  }
}

p {
  margin-top: 25px;
}

@media screen and (max-width: 768px) {
  .about__box {
    width: 342px;
    height: 281px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .about__wrap {
    margin-top: 60px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .about__img {
    display: none;
    cursor: crosshair;
  }
  .about__img2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 124px;
    cursor: crosshair;
  }
  .about__title {
    font-size: 20px;
    width: 274px;
    cursor: context-menu;
  }
  .about__text {
    width: 342px;
    font-size: 14px;
    cursor: not-allowed;
  }
  .about__btn {
    margin-top: 56px;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 15px;
    cursor: pointer;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 0 80px;
}

input, button {
  border: none;
}

@media screen and (max-width: 1400px) {
  .container {
    margin: 0 70px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    margin: 0 65px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    margin: 0 55px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    margin: 0 34px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    margin: 0 24px;
  }
}
