.about {
  .container {
    // margin: 10px;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: -4px;
  }
  &__box {
    display: flex;
    margin: 72px 0 54px 0;
    flex-direction: column;
    align-items: flex-start;
    
  }
  &__title {
    width: 514px;
    color: #2a254b;
    font-size: 24px;
    font-weight: 400;
    line-height: 140%;
    cursor: context-menu;
  }
  &__text {
    width: 536px;
    color: #505977;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    cursor: not-allowed;
  }
  &__btn {
    margin-top: 196px;
    color: #2a254b;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    display: flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    background: #f9f9f9;
    border: none;
  }
  &__img{
    margin-top: 48px;
   
  }
  &__img2 {
    display: none; 

   
  }
}
@media screen and (max-width: 1425px) {
  //XXXL
  .about {
    &__wrap {
      justify-content: center;
    }
    &__box {
      width: 634px;
    }
    &__img {
      // margin-top: 24px;
    }
  }
}
p{
  margin-top: 25px;
}
@media screen and (max-width: 768px) {
  .about {
    &__box {
      width: 342px;
      height: 281px;
      justify-content: start;
    }
    &__wrap {
      margin-top: 60px;
      justify-content: start;
    }
    &__img {
      display: none;
      cursor: crosshair;
    }
    &__img2 {
      display: flex;
      margin-top: 124px;
      cursor: crosshair;
    }
    &__title {
      font-size: 20px;
      width: 274px;
      // margin: 0;
      cursor: context-menu;
    }
    &__text {
      width: 342px;
      font-size: 14px;
      cursor: not-allowed;
    }
    &__btn {
      margin-top: 56px;
      width: 100%;
      justify-content: center;
      font-size: 15px;
      cursor: pointer;
    }
  }
}
