.card {
  &__info {
    margin-top: 166px;
    color: #2a254b;
    font-size: 32px;
    font-weight: 400;
  }
  &__info2 {
    margin-top: 110px;
    color: #2a254b;
    font-size: 32px;
    font-weight: 400;
    line-height: 140%;
   
  }
  &__wrap {
    margin-top: 13px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__wrap2 {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
     overflow: scroll;
  }
  &__box {
    margin-top: 20px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    cursor: crosshair;
  }
  &__title {
    color: #2a254b;
    font-size: 20px;
    font-weight: 400;
    line-height: 140%; /* 28px */
    cursor: context-menu;
  }
  &__price {
    margin-top: -16px;
    color: #2a254b;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%; /* 27px */
    cursor: not-allowed;
  }
  &__btn {
    margin: 0 auto;
    margin-top: 48px;
    width: 170px;
    color: #2a254b;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 24px */
    display: flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #f9f9f9;
    border: none;
    cursor: pointer;
  }
  &__d {
    display: none;
  }
  &__info--d {
    margin-top: 93px;
    color: #2a254b;
    font-size: 20px;
    font-weight: 400;
  }
  &__wrap--d {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
  }
  &__box--d {
    margin-top: 20px;
    cursor: crosshair;
  }
  &__img--d {
    cursor: cell;
  }
  &__title--d {
    margin-top: 24px;
    color: #2a254b;
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
    cursor: context-menu;
  }
  &__price--d {
    margin-top: 8px;
    color: #2a254b;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    cursor: not-allowed;
  }
  &__btn--d {
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    width: 342px;
    padding: 16px 32px;
    justify-content: center;
    gap: 10px;
    color: #2a254b;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 24px */
    background: #f9f9f9;
    border: none;
    cursor: pointer;
  }
  &--2d {
    display: none;
  }
  &__info2--d {
    margin-top: 86px;
    color: #2a254b;
    font-size: 20px;
    font-weight: 400;
  }
  &__wrap2--d {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;

    gap: 20px;
  }
}
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-track {
  width: 0;
}
// ::-webkit-scrollbar-thumb {
// }
@media screen and (max-width: 768px) {
  .card__d {
    display: flex;
  }
  .card--2d {
    display: inline;
  }

  .card {
    display: none;
  }
}
@media screen and (max-width: 405px) {
  .card__btn--d {
    width: 342px;
  }
}
