.hero {
  &__box {
    display: flex;
    margin-top: 80px;

    // flex-wrap: wrap;
  }
  &__card {
    width: 60vw;
    background: #2a254b;
    cursor: crosshair;
  }
  &__title {
    padding: 60px;
    width: 513px;
    color: #fff;
    font-size: 32px;
    font-weight: 400;
    line-height: 140%;
  }
  &__text {
    margin: 196px auto 60px 60px;
    width: 602px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
  }
  &__btn {
    margin: 41px auto 0 60px;
    display: flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    background: rgba(249, 249, 249, 0.15);
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
  }
  &__d {
    display: none;
    background: #2a254b;
  }
  //dissabled hero
  &__box--d {
    display: flex;
    padding-top: 40px;
    flex-direction: column;
    // gap: 32px;
    cursor: alias;
  }
  &__title--d {
    width: 308px;
    color: #fff;
    font-size: 32px;
    font-weight: 400;
    line-height: 140%;
    cursor: context-menu;
  }
  &__text--d {
    margin-top:80px ;
    width: 308px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    cursor: copy;
  }
  &__btn--d {
    margin-top: 32px;
    margin-bottom: 24px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 24px */
    display: flex;
    
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    background: rgba(249, 249, 249, 0.15);
    cursor: pointer;
  }
  
}
.img {
  background-size: cover;
  height: 100%;
  width: 40vw;
  cursor: crosshair;
}
@media screen and (max-width: 1322px) {
.hero__img{
display: none;
}
}
@media screen and (max-width: 1322px) {
.hero{
  &__card{
    width: 85vw;
    margin: 0 auto;
  }
}
}
@media screen and (max-width: 768px) {
  //MD
  .hero__d {
    display: flex;
    flex-direction: column;
  }
  .hero {
    display: none;
  }
}
